.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  padding: 40px 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.contentWrapper {
  position: relative;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  flex-direction: row;
  justify-content: center;
}

.goBackButton {
  position: absolute;
  left: 0;
  margin: 20px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .App {
    padding: 10px 10px;
  }
}